<%- include('../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1 class= "auctiontitle"><%= auction.title %></h1><br>
      <p><%= auction.details %></p> <br>
    </div>


    <div class="col-xs-5 col-xs-offset-1" style="margin-top:30px">
      <form class="" action="/auctions/<%= auction.id %>" method="post">

      <input style="width: 300px;
      height: 25px" placeholder="enter amount higher than current price" name="price"></input>
        <button class="btn btn-lg" type="submit" name="button" style="padding:4px;color:ivory;background-color:#8e094c !important">Place Bid</button>

      </form>
    
      <h3>State: <%= auction.state %></h3><hr>
      <h4>Previous Bids</h4>
      <li>
        <ul>
        </ul>
      </li>

    </div>


  </div>


</div>
